# Python cache 
__pycache__/ 
*.pyc 
*.pyo 
.ipynb_checkpoints/ 
data/raw/*.fna 
data/raw/*.gff 
data/raw/*.fna.gz 
data/raw/*.gff.gz 
!data/raw/sources.txt 
venv/ 
env/ 
.venv/ 
.vscode/ 
.idea/ 
.DS_Store 
Thumbs.db 
*.log 
